@import 'helpers/_variables.scss';
@import 'helpers/_functions.scss';
@import 'helpers/_mixins.scss';

.invoice-products{
  max-width: 800px;
  margin: auto;

  .print_box{
    background-color: #fff;
    border: 1px solid $borderInputColor;
    padding: 5px;
  }

  .invoice-info{
    text-align: end;

  }

  .company-info{
    span{
      margin-left: 10px;
      margin-right: 0;
    }

  }
  .company-name-head {
    text-align: center;
    padding: 20px 0 10px 0;
    font-family: cursive;
    font-size: 72px;
    color: $grayColor;
  }

  .client-info{
    margin-bottom: 15px;
    span{
      margin-left: 10px;
      margin-right: 0;
    }
    h2{
      padding: 0 12px 12px;
    }
  }

  .client-info, .company-info, .invoice-info{
    padding: 10px 10px 0 ;
    span{
      display: block;
      line-height: 1.5;
    }

  }
  .table-custom {
    border: 1px solid $borderInputColor;
    width: 100%;
    border-collapse: collapse;
    thead {
      border-bottom: 1px solid $borderInputColor;
      tr {
        th {
          padding: 5px 0;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: center;
          padding: 5px 0;
        }
      }
    }

  }
  .price_totals{
    border-collapse: collapse;
    margin-top: 15px;
    border: 1px solid $borderInputColor;
    border-bottom: 0;
    width: 50%;
    tbody{
      tr{
        border-bottom: 1px solid $borderInputColor;
        td,th{
          text-align: center;
          padding: 5px 0;
        }
        th{
          border-left: 1px solid $borderInputColor;
        }
      }
    }
  }

}
.print_win{
  margin: 0!important;
  position: fixed;
  top: 0;
  left: 0;
}

