@import 'helpers/_variables.scss';
@import 'helpers/_functions.scss';
@import 'helpers/_mixins.scss';
//@import 'components/_buttons';
//@import 'components/_inpute';
//@import 'layout/_all.scss';
//@import 'layout/_content.scss';
//@import 'layout/_classes.scss';
//@import 'layout/_grid.scss';
//@import 'layout/_navbar.scss';


.online{
  color: darken($successBackground, 30%);
}
.offline{
  color: darken($errorBackground, 30%);
}

